/* 
primary #2d2640
secondary #f2d280
text colour : #d7e4f7
/
:root{
    --base:#23252e;
    --accent:#5f6e85;
    --text:#f2b407;
    --outline:#ffc526;
}

@font-face {
    font-family: 'Coolvetica'; /a name to be used later/
    src: url('../fnt/coolvetica.otf'); /URL to font/
}

@font-face {
    font-family: 'Nexa'; /a name to be used later/
    src: url('../fnt/Nexa-ExtraLight.ttf'); /URL to font/
}

.header {
    background-color: var(--accent);
    text-align: center;
    display: table;
    margin: 0 auto;
    border:7px solid var(--outline);
    border-radius: 15px;
    padding: 7px;
    font-family: "Coolvetica";
    letter-spacing: 2px;
    color: var(--text);
    width:30%;
    height:40%;
}
.logo {
    scale:10%;
    float:left;
    position:absolute;
    top:-225px;
    left:-225px;
}

body {
    background-color: var(--base);
}

/message */

.msg1 {
    background-color: var(--accent);
    display: inline-block;
    border-radius: 7px;
    padding:7px;
    border:7px solid var(--outline);
    text-align: center;
    color: var(--text); 
    position: absolute;
    left: 50%;
    font-family: "Nexa";
    transition: 0.3s;
    top:20%;
}

.msg2 {
    background-color: var(--accent);
    display: inline-block;
    border-radius: 7px;
    padding:7px;
    border:7px solid var(--outline);
    text-align: center;
    color: var(--text); 
    position: absolute;
    left: 50%;
    top:90%;
    transform: translateX(-50%);
    font-family: "Nexa";
    transition: 0.3s;
}

.msg1:active {
}
.msg1:active, .msg2:active{
    transform: translateX(0.75px)
}
